<div class="modal-header">
  <h4 class="modal-title pull-left">
    <span *ngIf="notSignedIn">Sign up</span>
    <span *ngIf="updateMyProfile">My profile</span>
    <span *ngIf="signedInAsAdmin && !updateMyProfile && adminNewUser">Create user</span>
    <span *ngIf="signedInAsAdmin && !updateMyProfile && adminEditUser">Update user</span>
  </h4>
  <button type="button" class="close pull-right" (click)="signUpModalRef.hide(); _resetForm()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body modal-body-form">

  <div class="message-container" *ngIf="submitted">
    <p class="form-submitted">
      <span *ngIf="notSignedIn">An e-mail was sent to {{user.userLogin.emailAddress}}. Please click on the link in the e-mail so that we can verify your
        e-mail adress and complete your registration.</span>
      <span *ngIf="updateMyProfile">Yor profile data was successfully updated.</span>
      <span *ngIf="adminNewUser">User was successfully created. Go ahead and create a new one or go back to managing the users.</span>
      <span *ngIf="adminEditUser">User was successfully updated.</span>
    </p>
  </div>

  <form  [formGroup]="userForm" class="form-container" novalidate>
    <label class="user-contact-info" for="address">
      <span *ngIf="adminNewUser || adminEditUser">Users contact and login information</span>
      <span *ngIf="updateMyProfile">My contact and login information</span>
    </label>
    <div class="sign-up-info-container" fxLayout fxFlex>
      <div class="sign-up-info" fxLayout="column" fxFlex="50%">
        <div *ngIf="signedInAsAdmin && (adminNewUser || adminEditUser)" 
            fxLayout fxLayoutAlign="space-between center" [ngStyle]="{'min-width': '85%'}">
          <div class="form-group user-role-form-group" fxLayout fxLayout.xs="column" [ngStyle]="{'width': '100%'}">
            <label for="title" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
              User is an
            </label>

            <div class="checkbox" fxFlex="40" [ngStyle]="{'margin-left': '10px'}">
              <mat-checkbox
                  name="employee" 
                  formControlName="roleEmployee" 
                  [align]="start">
                Employee
              </mat-checkbox>
            </div>

            <div class="checkbox" fxFlex>
              <mat-checkbox 
                  name="admin" 
                  formControlName="roleAdmin" 
                  [align]="start">
                Admin
              </mat-checkbox>
            </div>
          </div>
        </div>

        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="title" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Title *
          </label>
          <div class="input-container" fxLayout="column" fxFlex>
            <ng-select
              [ngClass]="{'title': !signedInAsAdmin}"
              [noFilter]="Infinity"
              [options]="titles"
              notFoundMsg="No results found!"
              formControlName="title">
            </ng-select>
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.controls['title'].errors && (userForm.controls['title'].dirty || userForm.controls['title'].touched)">
              <small [hidden]="!userForm.controls['title'].errors.required" class="feedback">
                Required.
              </small>
            </div>
          </div>
        </div>

        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="firstName" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            First name *
          </label>
          <div class="input-container"fxLayout="column" fxFlex>
            <input
              id="firstName"
              name="firstName"
              maxlength="50"
              type="text"
              class="form-control input-element"
              formControlName="firstName">
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.controls['firstName'].errors && (userForm.controls['firstName'].dirty || userForm.controls['firstName'].touched)">
              <small [hidden]="!userForm.controls['firstName'].errors.required" class="feedback">
                Required.
              </small>
              <small [hidden]="!userForm.controls['firstName'].errors.minlength" class="feedback">
                It should be at least 2 characters long.
              </small>
              <small [hidden]="!userForm.controls['firstName'].errors.maxlength" class="feedback">
                It should contain only normal characters.
              </small>
            </div>
          </div>
        </div>

        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="lastName" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Last name *
          </label>
          <div class="input-container"fxLayout="column" fxFlex>
            <input
              id="lastName"
              name="lastName"
              maxlength="50"
              type="text"
              class="form-control input-element"
              formControlName="lastName">
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.controls['lastName'].errors && (userForm.controls['lastName'].dirty || userForm.controls['lastName'].touched)">
              <small [hidden]="!userForm.controls['lastName'].errors.required" class="feedback">
                Required.
              </small>
              <small [hidden]="!userForm.controls['lastName'].errors.minlength" class="feedback">
                It should be at least 2 characters long.
              </small>
              <small [hidden]="!userForm.controls['lastName'].errors.maxlength" class="feedback">
                It should contain only normal characters.
              </small>
            </div>
          </div>
        </div>

        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="telephoneNumber" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Telephone number
          </label>
          <div class="input-container"fxLayout="column" fxFlex>
            <input
              id="telephoneNumber"
              name="telephoneNumber"
              maxlength="50"
              type="text"
              class="form-control input-element"
              formControlName="telephoneNumber">
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.controls['telephoneNumber'].errors && (userForm.controls['telephoneNumber'].dirty || userForm.controls['telephoneNumber'].touched)">
              <small [hidden]="!userForm.controls['telephoneNumber'].errors.pattern" class="feedback">
                Please enter a valid phone number.
              </small>
            </div>
          </div>
        </div>

        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="emailAddress" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            E-mail address *    
          </label>
          <div class="input-container" fxLayout="column" fxFlex>
            <input
              id="emailAddress"
              name="emailAddress"
              maxlength="50"
              type="email"
              class="form-control input-element"
              formControlName="emailAddress">
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.controls['emailAddress'].errors && (userForm.controls['emailAddress'].dirty || userForm.controls['emailAddress'].touched)">
              <small [hidden]="!userForm.controls['emailAddress'].errors.required" class="feedback">
                Required.
              </small>
              <small [hidden]="!userForm.controls['emailAddress'].errors.pattern" class="feedback">
                Email must have the format 'john.doe@example.com'.
              </small>
            </div>
          </div>
        </div>
      </div>
      
      <div class="sign-up-info" fxLayout="column" fxFlex="50%">
        <div class="form-group" fxLayout="column">
          <label for="username" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Date of birth *
          </label>
          <date-select
            [dateSelectFormAction]="birthdate"
            [existingData]="userForm.controls['birthday'].value ? userForm.controls['birthday'].value : null"
            (onDateSelected)="setSelectedDateInFormControl($event, 'birthday')">
          </date-select>
        </div>

        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="username" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Username *
          </label>
          <div class="input-container" fxLayout="column" fxFlex>
            <input
              id="username"
              name="username"
              maxlength="50"
              type="text"
              class="form-control input-element"
              formControlName="username">
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.controls['username'].errors && (userForm.controls['username'].dirty || userForm.controls['username'].touched)">
              <small [hidden]="!userForm.controls['username'].errors.required" class="feedback">
                Required.
              </small>
              <small [hidden]="!userForm.controls['username'].errors.minlength" class="feedback">
                It should be at least 6 characters long.
              </small>
            </div>
          </div>
        </div>

        <button *ngIf="updateMyProfile" type="button" class="btn btn-info pull-left" 
            (click)="activateChangePassword()">
          Change password
        </button>

        <div *ngIf="updateMyProfile && changePassword" class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="password" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Old password *
          </label>
          <div class="input-container"fxLayout="column" fxFlex>
            <input
              id="oldPassword"
              name="oldPassword"
              type="password"
              class="form-control"
              formControlName="oldPassword">
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.controls['oldPassword'].errors && (userForm.controls['oldPassword'].dirty || userForm.controls['oldPassword'].touched)">
              <small [hidden]="!userForm.controls['oldPassword'].errors.required" class="feedback">
                Required.
              </small>
            </div>
          </div>
        </div>

        <div *ngIf="regularSignUp || (updateMyProfile && changePassword)" class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="password" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Password *
          </label>
          <div class="input-container"fxLayout="column" fxFlex>
            <input
              id="password"
              name="password"
              type="password"
              class="form-control"
              formControlName="password">
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.controls['password'].errors && (userForm.controls['password'].dirty || userForm.controls['password'].touched)">
              <small [hidden]="!userForm.controls['password'].errors.required" class="feedback">
                Required.
              </small>
              <small [hidden]="!userForm.controls['password'].errors.minlength" class="feedback">
                Should be at least 8 characters long.
              </small>
              <small [hidden]="!userForm.controls['password'].errors.pattern" class="feedback">
                Must contain at least 1 uppercase [A-Z], 1 lowercase [a-z] and 1 character[0-9].
              </small>
            </div>
          </div>
        </div>

        <div *ngIf="regularSignUp || (updateMyProfile && changePassword)" class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="confirmPassword" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Confirm password *
          </label>
          <div class="input-container"fxLayout="column" fxFlex>
            <input
              id="confirmPassword"
              name="confirmPassword"
              type="password"
              class="form-control"
              formControlName="confirmPassword">
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.errors && userForm.errors.passwordsDoNotMatch && (userForm.controls['confirmPassword'].dirty || userForm.controls['confirmPassword'].touched)">
              <small class="feedback">
                Passwords do not match.
              </small>
            </div>
            <div fxLayout="column" class="feedback-wrapper"*ngIf="userForm.controls['confirmPassword'].errors && (userForm.controls['confirmPassword'].dirty || userForm.controls['confirmPassword'].touched)">
              <small [hidden]="!userForm.controls['confirmPassword'].errors.required" class="feedback">
                Required.
              </small>
            </div>
          </div>
        </div>

        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <div class="checkbox" fxFlex>
            <mat-checkbox 
                name="newsletter" 
                formControlName="subsribeToNewsletter">
              Check this box to receive newsletters about special offer information.
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div>

    <label *ngIf="!userAddressSectionNotRequired" class="user-address" for="address">
      <span *ngIf="adminNewUser || adminEditUser">Users address</span>
      <span *ngIf="updateMyProfile">My address</span>
    </label>
    <div class="address-info-container" *ngIf="!userAddressSectionNotRequired" fxLayout fxFlex>
      <div class="address-info" fxLayout="column" fxFlex="50%">
        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="country" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Country *
          </label>
          <div class="input-container" fxLayout="column" fxFlex>
            <input
              id="country"
              name="country"
              type="text"
              class="form-control input-element"
              formControlName="country">
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.controls['country'].errors && (userForm.controls['country'].dirty || userForm.controls['country'].touched)">
              <small [hidden]="!userForm.controls['country'].errors.required" class="feedback">
                Required.
              </small>
            </div>
          </div>
        </div>
          
        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="city" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            City *
          </label>
          <div class="input-container" fxLayout="column" fxFlex>
            <input
              id="city"
              name="city"
              type="text"
              class="form-control input-element"
              formControlName="city">
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.controls['city'].errors && (userForm.controls['city'].dirty || userForm.controls['city'].touched)">
              <small [hidden]="!userForm.controls['city'].errors.required" class="feedback">
                Required.
              </small>
            </div>
          </div>
        </div>

        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="zipCode" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            ZIP code *
          </label>
          <div class="input-container" fxLayout="column" fxFlex="30">
            <input
              id="zipCode"
              name="zipCode"
              type="number"
              class="form-control input-element"
              formControlName="zipCode">
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.controls['zipCode'].errors && (userForm.controls['zipCode'].dirty || userForm.controls['zipCode'].touched)">
              <small [hidden]="!userForm.controls['zipCode'].errors.required" class="feedback">
                Required.
              </small>
              <small [hidden]="!userForm.controls['zipCode'].errors.pattern" class="feedback">
                It should contain only numbers.
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="address-info" fxLayout="column" fxFlex="50%">
        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="street" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Street *
          </label>
          <div class="input-container" fxLayout="column" fxFlex>
            <input
              id="street"
              name="street"
              type="text"
              class="form-control input-element"
              formControlName="street">
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.controls['street'].errors && (userForm.controls['street'].dirty || userForm.controls['street'].touched)">
              <small [hidden]="!userForm.controls['street'].errors.required" class="feedback">
                Required.
              </small>
            </div>
          </div>
        </div>

        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="streetNumber" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Street number
          </label>
          <div class="input-container" fxLayout="column" fxFlex="30">
            <input
              id="streetNumber"
              name="streetNumber"
              type="text"
              class="form-control input-element"
              formControlName="streetNumber">
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.controls['streetNumber'].errors && (userForm.controls['streetNumber'].dirty || userForm.controls['streetNumber'].touched)">
              <small [hidden]="!userForm.controls['streetNumber'].errors.required" class="feedback">
                Required.
              </small>
            </div>
          </div>
        </div>

        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="apartment" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Apartment
          </label>
          <div class="input-container" fxLayout="column" fxFlex="30">
            <input
              id="apartment"
              name="apartment"
              type="text"
              class="form-control input-element"
              formControlName="apartment">
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.controls['apartment'].errors && (userForm.controls['apartment'].dirty || userForm.controls['apartment'].touched)">
              <small [hidden]="!userForm.controls['apartment'].errors.required" class="feedback">
                Required.
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <label *ngIf="signedInAsAdmin || signedInAsEmployee" class="user-identity" for="identity">
      <span *ngIf="adminNewUser || adminEditUser">Users identity information</span>
      <span *ngIf="updateMyProfile">My identity information</span>
    </label>
    <div class="identity-info-container" *ngIf="(signedInAsAdmin || signedInAsEmployee) && (adminNewUser || adminEditUser || updateMyProfile)" fxLayout fxFlex>
      <div class="identity-info" fxLayout="column" fxLayoutAlign="space-between center" fxFlex="50%">
        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="personalIdentificationNumber" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Personal identification number (CNP) *
          </label>
          <div class="input-container" fxLayout="column" fxFlex>
            <input
              id="personalIdentificationNumber"
              name="personalIdentificationNumber"
              type="text"
              class="form-control input-element"
              formControlName="personalIdentificationNumber">
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.controls['personalIdentificationNumber'].errors && (userForm.controls['personalIdentificationNumber'].dirty || userForm.controls['personalIdentificationNumber'].touched)">
              <small [hidden]="!userForm.controls['personalIdentificationNumber'].errors.required" class="feedback">
                Required.
              </small>
              <small [hidden]="!userForm.controls['personalIdentificationNumber'].errors.pattern" class="feedback">
                It should contain only numbers.
              </small>
              <small [hidden]="!userForm.controls['personalIdentificationNumber'].errors.maxlength && !userForm.controls['personalIdentificationNumber'].errors.minlength" class="feedback">
                It should contain 13 numbers.
              </small>
            </div>
          </div>
        </div>

        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="identityCardSeries" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Identity card series *
          </label>
          <div class="input-container" fxLayout="column" fxFlex>
            <input
              id="identityCardSeries"
              name="identityCardSeries"
              type="text"
              class="form-control input-element"
              formControlName="identityCardSeries">
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.controls['identityCardSeries'].errors && (userForm.controls['identityCardSeries'].dirty || userForm.controls['identityCardSeries'].touched)">
              <small [hidden]="!userForm.controls['identityCardSeries'].errors.required" class="feedback">
                Required.
              </small>
            </div>
          </div>
        </div>

        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="identityCardNumber" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Identity card number *
          </label>
          <div class="input-container" fxLayout="column" fxFlex>
            <input
              id="identityCardNumber"
              name="identityCardNumber"
              type="text"
              class="form-control input-element"
              formControlName="identityCardNumber">
            <div fxLayout="column" class="feedback-wrapper"
                *ngIf="userForm.controls['identityCardNumber'].errors && (userForm.controls['identityCardNumber'].dirty || userForm.controls['identityCardNumber'].touched)">
              <small [hidden]="!userForm.controls['identityCardNumber'].errors.required" class="feedback">
                Required.
              </small>
              <small [hidden]="!userForm.controls['identityCardNumber'].errors.pattern" class="feedback">
                It should contain only numbers.
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="identity-info" fxLayout="column" fxFlex="50%">
        <div class="form-group" fxLayout="column">
          <label for="idCardExpirationDate" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Date of expiration *
          </label>
          <date-select
            [dateSelectFormAction]="idCardExpirationDate"
            [existingData]="userForm.controls['idCardExpirationDate'].value ? userForm.controls['idCardExpirationDate'].value : null"
            (onDateSelected)="setSelectedDateInFormControl($event, 'idCardExpirationDate')">
          </date-select>
        </div>

        <div *ngIf="!userPaymentMethodSectionRequired" class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="bankAccountNumber" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Bank account number (IBAN)
          </label>
          <div class="input-container" fxLayout="column" fxFlex>
            <input
              id="bankAccountNumber"
              name="bankAccountNumber"
              type="text"
              class="form-control input-element"
              formControlName="bankAccountNumber">
          </div>
        </div>
      </div>
    </div>
    
    <label *ngIf="userPaymentMethodSectionRequired" class="user-identity" for="identity">
      <span *ngIf="adminNewUser || adminEditUser">Payment method</span>
      <span *ngIf="updateMyProfile">My credit card data</span>
    </label>
    <div *ngIf="userPaymentMethodSectionRequired" class="payment-info-container" fxLayout fxFlex>
      <div class="payment-info" fxLayout="column" fxLayoutAlign="space-between center" fxFlex="50%">
        <div class="form-group" fxLayout fxLayout.xs="column" fxLayoutAlign="space-between center">
          <div class="checkbox" fxFlex="30">
            <mat-checkbox
                name="cash" 
                formControlName="cash" 
                [align]="start">
              Cash
            </mat-checkbox>
          </div>

          <div class="checkbox" fxFlex="40">
            <mat-checkbox
                name="creditCard" 
                formControlName="creditCard" 
                [align]="start">
              Credit card (POS)
            </mat-checkbox>
          </div>

          <div class="checkbox" fxFlex="30">
            <mat-checkbox
                name="later" 
                formControlName="later" 
                [align]="start">
              Later
            </mat-checkbox>
          </div>
        </div>

        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="creditCardNumber" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Credit card number
          </label>
          <div class="input-container" fxLayout="column" fxFlex>
            <input
              id="creditCardNumber"
              name="creditCardNumber"
              type="text"
              class="form-control input-element"
              formControlName="creditCardNumber">
          </div>
        </div>

        <div class="form-group" fxLayout="column">
          <label for="creditCardExpirationDate" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Credit card expiration date
          </label>
          <date-select 
            [dateSelectFormAction]="'applyForOffer'" 
            [existingData]="userForm.controls['creditCardExpirationDate'].value ? userForm.controls['creditCardExpirationDate'].value : null"
            [disabled]="userForm.controls['creditCardExpirationDate'].disabled"
            (onExpirationDateSelected)="setSelectedDateInFormControl($event, 'creditCardExpirationDate')">
          </date-select>
        </div>
      </div>

      <div class="payment-info" fxLayout="column" fxFlex="50%">
        <div [ngStyle]="{'height': '39px'}"></div>
        <div class="form-group" fxLayout="row" fxLayout.xs="column">
          <label for="creditCardName" class="control-label" fxFlex="40" [ngClass]="{'label-style': updateMyProfile || adminNewUser || adminEditUser}">
            Name on the credit card
          </label>
          <div class="input-container" fxLayout="column" fxFlex>
            <input
              id="creditCardName"
              name="creditCardName"
              type="text"
              class="form-control input-element"
              formControlName="creditCardName">
          </div>
        </div>
      </div>
    </div>
  </form>

  <div *ngIf="!submitted" class="modal-footer">
    <button *ngIf="notSignedIn" [disabled]="userForm.invalid"
        type="button" class="btn btn-success pull-right" (click)="saveData()">
      Sign up
    </button>
    <button *ngIf="updateMyProfile" [disabled]="userForm.invalid"
        type="button" class="btn btn-success pull-right" (click)="saveData()">
      Save changes
    </button>
    <button *ngIf="signedInAsAdmin && !updateMyProfile" [disabled]="userForm.invalid"
        type="button" class="btn btn-success pull-right" (click)="saveData()">
      <span *ngIf="adminNewUser">Create user</span>
      <span *ngIf="adminEditUser">Update user</span>
    </button>
    <button type="button" class="pull-right btn btn-default" (click)="signUpModalRef.hide(); _resetForm()" aria-label="Close">
      Close
    </button>
  </div>

  <div *ngIf="submitted" class="modal-footer">
    <button *ngIf="signedInAsAdmin && !updateMyProfile" type="button" class="pull-right btn btn-info btn-new-user" (click)="_resetForm()">
      New user
    </button>
    <button type="button" class="pull-right btn btn-default" (click)="signUpModalRef.hide(); _resetForm()" aria-label="Close">
      Close
    </button>
  </div>
</div>