label {
	margin: auto 0;
	min-width: 220px;
}

.additional-explanation-group {
	margin-bottom: 0;
}

.subtitle {
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
}

.divider {
	border: 1px solid #e5e5e5;
	width: 80%;
	margin: 0 auto;
	opacity: 0.75;
}