/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import './app/styles/variables.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/*loading circle*/
.loading {
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);

  box-sizing: border-box;
  border-top: 8px solid darkorange;
  border-right: 8px solid orange;
  border-bottom: 8px solid orange;
  border-left: 8px solid orange;
  border-radius: 100%;

  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0)
  }
  to {
    transform: rotate(359deg) translate3d(0, 0, 0)
  }
}

ng-select:focus {
    border-color: #66afe9 !important;
}

.below {
    border: none !important;
    border-radius: 4px !important;
    border: 1px solid #ccc !important;
    height: 34px !important;
}

.below:focus {
    /*border-color: #66afe9;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, .6) !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

.toggle, .clear {
    height: 32px !important;
}

mat-checkbox {
    label {
        white-space: normal !important;
    }
}

personalized-offer {
    
    .mat-checkbox-layout {
       margin-bottom: 0;
    }

    .mat-checkbox-inner-container {
        height: 18px !important;
        width: 18px !important;
    }

    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: $check-box-radio-btn-slider-color;
    }

    .mat-checkbox-ripple {
        .mat-ripple-element {
            background-color: rgba($check-box-radio-btn-slider-color, 0.26) !important;
        }
    }

    .mat-slider-thumb, .mat-slider-thumb-label, .mat-slider-track-fill {
        background-color: $check-box-radio-btn-slider-color
    }

    .mat-slider-thumb, .mat-slider-thumb-label {
        cursor: pointer;
    }

    .mat-slider-thumb-label {
        width: 31px;
        height: 31px;
    }

    .mat-slider-thumb-label-text {
        font-size: 11px;
    }

    .mat-radio-inner-circle {
        background-color: $check-box-radio-btn-slider-color;
    }

    .mat-radio-checked .mat-radio-outer-circle {
        border-color: $check-box-radio-btn-slider-color;
    }

    .mat-radio-ripple .mat-ripple-element {
        background-color: rgba($check-box-radio-btn-slider-color, 0.26);
    }

    label {
        font-weight: normal;
    }

    .mat-card-actions {
        margin: 8px 0 0 0;
        padding: 0;
    }
}

sd-detail {
    .nav-link {
        border: 1px solid $container-border-color;
    }
}

signup-modal {
    .mat-card-title {
        font-size: 14px
    }

    md-checkbox {
        .mat-checkbox-label {
            color: dimgrey;
        }
    }

    mat-checkbox {
        label {
            padding: 0 !important;
        }
    }
}

user-management, offers-management {
    mat-card-title {
        margin: 16px 0 !important;
    }
}

.btn:focus, .btn:active {
   outline: none !important;
}

pagination-controls {
    font-size: 16px;

    .ngx-pagination {
        margin: 0 40% 10px;
    }

    ul {
        padding: 10px 0;

        li {
            margin: 0 5px;
        }

        a:hover {
            text-decoration: none;
            cursor: pointer;
        }

        .current {
            font-size: 18px;
            background: orange !important;
        }
    }
}