/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';

ng-select:focus {
    border-color: #66afe9;
}

.below {
    border: none !important;
    border-radius: 4px !important;
    border: 1px solid #ccc !important;
    height: 34px !important;
}

.below:focus {
    /*border-color: #66afe9;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, .6) !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

/*.open, .focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, .6) !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}*/

.toggle, .clear {
    height: 32px !important;
}