<!--<div class="modal fade" bsModal #staticModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="forgotPassword" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">-->
            <div class="modal-header">
                <h4 class="modal-title pull-left">Password recovery</h4>
                <button type="button" class="close pull-right" (click)="closeForgotPasswordModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm" id="formLogin" class="form container-fluid">
                    <div class="form-group" *ngIf="!usernameExists">
                        <label class="username" for="user">Please enter your e-mail or username:</label>
                        <input type="text" class="form-control" id="user" name="user" placeholder="Ex. john.doe" [(ngModel)]="username" />
                    </div>
                    <p>{{usernameExists}}</p>
                </form>
            </div>
            <div class="modal-footer">
                <button *ngIf="!usernameExists" type="submit" id="btnResetPassword" (click)="forgotPassword()" class="btn btn-success">Reset password</button>
                <button *ngIf="usernameExists" type="" id="btnClose" (click)="closeForgotPasswordModal()" class="btn btn-danger">Close</button>
            </div>
        <!--</div>
    </div>
</div>-->