<mat-card class="user-management-container">
	<h1>Manage users</h1>
	<mat-card-title fxLayout fxLayoutAlign="space-between center">
		<search-input
			(onSearch)="searchForUsers($event)">
    </search-input>
		<button class="btn btn-info" (click)="openSignUpModal(signUpModalActionForAddUser)">
			Add a new user
		</button>
	</mat-card-title>

	<mat-card-content>
		<div class="user-list-container">
			<mat-list class="users-list" fxLayout="column" fxFlex>
				<mat-list-item fxLayout="column" class="table-header">
					<div fxLayout fxFlex>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="18%">
							<h4 md-line>Name</h4>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="16%">
							<h4 md-line>Role</h4>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="16%">
							<h4 md-line>Telephone</h4>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="15%">
							<h4 md-line>E-mail address</h4>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="10%">
							<h4 md-line>Active offers</h4>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="7%">
							<h4 md-line>Newsletter</h4>
						</div>
					</div>
				</mat-list-item>
				<mat-list-item fxLayout="column" class="table-items" *ngFor="let user of listOfUsers">
					<div fxLayout fxFlex>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="18%">
							<h5 md-line class="table-item">{{user.firstName}} {{user.lastName}}</h5>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="16%">
							<h5 md-line class="table-item">{{user.role}}</h5>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="16%">
							<h5 md-line class="table-item">{{user.telephoneNumber}}</h5>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="15%">
							<h5 md-line class="table-item">{{user.emailAddress}}</h5>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="10%">
							<h5 md-line class="table-item"> - </h5>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="7%">
							<h5 md-line class="table-item">{{user.newsletter}}</h5>
						</div>
						<div fxLayout fxLayoutAlign="end center" fxFlex class="buttons-container">
							<button class="btn btn-primary" (click)="openSignUpModal(signUpModalActionForEditUser, user.id)">
								<span class="fa fa-pencil-square-o fa-lg"></span>
							</button>
							<button (click)="deleteUser(user.id)" class="btn btn-danger delete-button" type="button">
								<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</mat-list-item>
				<mat-list-item *ngIf="!listOfUsers.length" fxLayout="row" fxLayoutAlign="space-around center">
					No users were found.
				</mat-list-item>
			</mat-list>
		</div>
	</mat-card-content>
</mat-card>