@import '../../../styles/variables.scss';

.user-management-container {
	margin: 0 auto;
  width: 70%;
}

.table-header {
	background-color: $header-background-color;
}

.table-items {
	cursor: default;
	background-color: $items-background-color;
	border-top: $items-border-color;

	&:hover {
    background-color: $items-background-color-on-hover;
	}
}

.delete-button {
	width: 80px;
}

.update-button {
	margin: 0 10px;
}

.mat-card-title {
	font-size: 14px;
}