<mat-card class="user-management-container">
	<mat-card-title fxLayout fxLayoutAlign="space-between center">
		<h1>Manage holidays</h1>
		<sd-signup [modalButtonFor]="'admin-new'"></sd-signup>
	</mat-card-title>

	<mat-card-content>
		<div class="user-list-container">
			<mat-list class="users-list" fxLayout="column" fxFlex>
				<mat-list-item fxLayout="column" class="table-header">
					<div fxLayout fxFlex>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="18%">
							<h4 md-line>Name</h4>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="16%">
							<h4 md-line>Role</h4>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="16%">
							<h4 md-line>Telephone</h4>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="15%">
							<h4 md-line>E-mail address</h4>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="10%">
							<h4 md-line>Active offers</h4>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="7%">
							<h4 md-line>Newsletter</h4>
						</div>
					</div>
				</mat-list-item>
				<mat-list-item fxLayout="column" class="table-items" *ngFor="let user of listOfUsers">
					<div fxLayout fxFlex>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="18%">
							<h5 md-line class="table-item">{{user.firstName}} {{user.lastName}}</h5>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="16%">
							<h5 md-line class="table-item">{{user.userLogin.role}}</h5>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="16%">
							<h5 md-line class="table-item">{{user.telephoneNr}}</h5>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="15%">
							<h5 md-line class="table-item">{{user.userLogin.emailAddress}}</h5>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="10%">
							<h5 md-line class="table-item"> - </h5>
						</div>
						<div fxLayout fxLayoutAlign="space-around center" fxFlex="7%">
							<h5 md-line class="table-item">{{user.newsletter}}</h5>
						</div>
						<div fxLayout fxLayoutAlign="end center" fxFlex class="buttons-container">
							<sd-signup [existingUser]="user" [modalButtonFor]="'admin-edit'"></sd-signup>
							<button (click)="deleteUser(user)" class="btn btn-danger delete-button" type="button">Delete</button>
						</div>
					</div>
				</mat-list-item>
			</mat-list>
		</div>
	</mat-card-content>
</mat-card>