.input-element {
    margin-bottom: 30px; 
    max-width: 85%;
}

.input-year {
    width: 115px;
}

.input-month {
    width: 155px;
}

.input-day {
    width: inherit;
}

.number-of-days {
    background-color: Transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    width: 90px;
}

// .input-check {
//     color: red;
//     margin-top: -20px;
//     padding: 0 25px;

//     p {
//         margin: 0 0 10px;
//     }
// }

// .offer-input {
//     margin-top: -10px;
//     padding: 0;
// }

.apply-for-offer {
    display: none;
}

.feedback {
    color: red;
}

.form-group {
    margin-bottom: 0;
}

.feedback-month {
    margin-left: 125px;
}

.feedback-month-a {
    margin-left: 75px;
}

.feedback-day {
    margin-left: 295px;
}

.feedback-day-a {
    margin-left: 165px;
}

.feedback-day-b {
    margin-left: 115px;
}