<div class="footer-container" fxLayout="column" fxLayoutAlign="space-evenly center" fxFlex>
	<span>Partners</span>
	<div class="partner-logos-container" fxLayout fxLayoutWrap fxLayoutAlign="space-around center">
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/alpen-hotel-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/aquamarina-beach-hotel-logo.png" alt="logo2" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/baglioni-hotels-logo.png" alt="logo3" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/coast-mountain-bus-logo.png" alt="logo7" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/disney-cruise-line-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/nissi-beach-resort-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/norwegian-cruise-line-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/oceania-cruises.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/gpn-bus-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/grand-mountain-hotel-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/gruber-hotel-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/hilton-hotels-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/msc-cruises-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/disneyland-hotel-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/el-dorado-seaside-suites-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/four-seasons-hotels-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/powder-king-mountain-resort-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/rome-hotel-suite-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/ryanair-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/tarom-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/turkish-airline-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/winterpalace-ski-resort-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/wizz-air-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/villa-hotel-majestic-logo.png" alt="logo1" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/blue-sea-beach-hotel-logo.png" alt="logo4" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/carnival-cruise-line-logo.png" alt="logo5" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/boutique-hotel-logo.png" alt="logo6" width="100px">
		</div>
		<div class="logo-container">
			<img class="logo" id="logo" src="../../../assets/images/footer-logos/roslin-beach-hotel-logo.png" alt="logo1" width="100px">
		</div>
	</div>

	<div class="footer-divider"></div>

	<div class="copyright" fxLayout="column">
		<span>Copyright © 2017</span>
		<span class="site-url">~ EMZO.ro ~</span>
	</div>
</div>