/* Colors */

$container-border-color: #F7E2CB;
$label-color: #C96B0C;
$check-box-radio-btn-slider-color: #EDA70E;

/* Shadows */

$container-border-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);