<div class="btn-group" dropdown>
    <button type="button" class="btn btn-primary dropdown-toggle" id="my-profile-dropdown" dropdownToggle>
        <span class="glyphicon glyphicon-user"></span> My profile</button>
    <div *dropdownMenu class="dropdown-menu" role="menu">
        <ul>
            <li>
                <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Holidays applied for</a>
            </li>
            <li>
                <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Holidays wishlist</a>
            </li>
            <li>
                <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Personal information</a>
            </li>
        </ul>
    </div>
</div>