:host {
    float: right;
}

ul {
    min-width: 190px;
    padding-left: 0;
    list-style-type: none;
}

.btn-transparent {
    border: none;
    background: transparent;
}

.btn + .btn {   // ????
    margin: 0;
}

.btn-info {
    width: 190px;
    color: darkorange;
    border-radius: 0;

    &:hover {
        background-color: lightskyblue;
        color: orangered;
    }
}

#my-profile-dropdown {
    border: none;
    background: transparent;
}

#my-profile-dropdown:hover {
    background-color: lightskyblue;
}

.dropdown-menu {
    z-index: 1050;
}