:host {
    float: right;
}

a {
    text-decoration: none;
}

ul {
    min-width: 190px;
    padding-left: 15px;
    list-style-type: none;
}

li {
    margin: 5px 0;

    a {
        color: darkorange;
    }
}

li:hover {
    transform: scaleX(1.1);
    text-decoration: blink;

    a {
        color: orangered;
    }
}

#my-profile-dropdown {
    border: none;
    background: transparent;
}

#my-profile-dropdown:hover {
    background-color: lightskyblue;
}