<mat-card class="holidaysListContainer">
    <mat-card-content fxLayout="column" fxFlex>

        <div class="comming-soon-image-container" *ngIf="!holidayList.length">
            <div class="christmas-comming-soon-image-container" *ngIf="routingBy === 'type' && routingById === 10" fxLayout="column">
                <img src="../../../assets/images/holidaysList/christmas-is-coming-soon-1.jpg" alt="">
                <img src="../../../assets/images/holidaysList/christmas-is-coming-soon-2.jpg" alt="">
            </div>
            <div class="summer-comming-soon-image-container" *ngIf="routingById !== 10" fxLayout="column">
                <img src="../../../assets/images/holidaysList/summer-is-coming-soon.jpg" alt="">
            </div>
        </div>

        <ul>
            <li class="holidayItem" *ngFor="let holiday of holidayList | paginate: paginationConfig; let first = first; let last = last"
                fxLayout fxFlex>
                <holiday-list-element 
                    [holidaySummary]="holiday" 
                    (onHolidayDetail)="goToDetailPage(holiday)">
                </holiday-list-element>
            </li>
        </ul>

        <pagination-controls *ngIf="holidayList.length > 5" (pageChange)="onPageChange($event)"></pagination-controls>

    </mat-card-content>
</mat-card>