@import '../../styles/variables.scss';

:host {
  display: block;
}

ul {
  display: block !important;
}

pagination-controls {
    margin: 0 auto;
    font-size: 18px;
}

.summer-comming-soon-image-container {
  img {
    width: 100%;
  }
}