<sd-toolbar [userLogedIn]="userLogedIn" (onLoginSuccessful)="loggingIn($event)" (onLogout)="loggingOut()"></sd-toolbar>

<sd-navbar [types]="types" [role]="role"></sd-navbar>

<div class="imageBackground" [ngStyle]="{'background-image':'url(' + backgroundImagePath + ')'}">
	<router-outlet></router-outlet>
</div>

<footer></footer>

<button *ngIf="goToTopButtonShown" class="btn btn-go-to-top" id="goToTop" (click)="goToTopFunction()">
	<i class="fa fa-chevron-up fa-lg" aria-hidden="true"></i>
</button>