<mat-card class="holidayDetailViewContainer">
    <mat-card-content fxLayout="column">
        <div fxLayout fxLayoutAlign="space-between center" fxFlex="20%">
            <div fxFlex="50%">
                <h2>{{holiday.accommodationName}}
                    <img class="stars" *ngFor="let number of holiday.arrayOfStars" src="../../../assets/images/icons/star-size_s.png">
                </h2>
            </div>
            <div class="address-container" fxFlex="50%">
                <display-address
                    [address]="holiday"
                    (onClick)="lgModal.show()">
                </display-address>
                <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
                    (onShow)="changeMapVisility()" (onHide)="changeMapVisility()">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <span *ngIf="showMap" [hidden]="mapInModal.triggerResize()"></span>
                                <agm-map #mapInModal [latitude]="holiday.latitude" [longitude]="holiday.longitude">
                                    <agm-marker [latitude]="holiday.latitude" [longitude]="holiday.longitude"></agm-marker>
                                </agm-map>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout class="mainImagesContainer" fxLayoutWrap>
            <div class="singleImageContainer" fxLayout="column" fxFlex="75%">
                <div class="crop">
                    <img [@visibilityChanged]="imageFading" [src]="currentImage.image">
                </div>
            </div>
            <div class="multipleImagesContainer" fxLayout="column" fxFlex="25%">
                <div fxLayout fxFlex fxLayoutWrap>
                    <div *ngFor="let image of holiday.imageSet, let i = index">
                        <img (click)="setSelectedImageAsCurrent(image)" *ngIf="i <= 8" class="smallImages" [ngClass]="{'firstRowOfImages': i==0 || i==1 || i==2, 'firstColumnOfImages': i==0 || i==3 || i==6, 'middleColumnOfImages': i==1 || i==4 || i==7, 'thirdColumnOfImages': i==2 || i==5 || i==8}"
                            [src]="image.image">
                    </div>
                </div>
                <mat-divider class="multipleImagesContainerDivider"></mat-divider>
            </div>
            <div class="footerMainImagesContainer" fxLayout fxFlex>
                <div fxLayout="column" fxFlex="85%">
                    <span class="glyphicon glyphicon-fullscreen" (click)="openImageModal()"></span>
                    <div *ngIf="photoModalWindowOpened">
                        <!--<ImageModal [modalImages]="holiday.imageSet" [imagePointer]="imagePointer" (cancelEvent)="cancelImageModal()"></ImageModal>-->
                    </div>
                </div>
                <div fxLayout="column" fxFlex="15%">
                    <div fxLayout fxFlex>
                        <span class="glyphicon glyphicon-circle-arrow-left" (click)="navigate(false)"></span>
                        <span class="glyphicon glyphicon-circle-arrow-right" (click)="navigate(true)"></span>
                        <i *ngIf="playIcon" class="fa fa-play-circle" (click)="clickedPlayIcon()" aria-hidden="true"></i>
                        <i *ngIf="pauseIcon" class="fa fa-pause-circle" (click)="clickedPauseIcon()" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout fxFlex="60%">
            <div fxLayout="column" fxFlex="75%">

                <mat-tab-group class="customize" (focusChange)="mapInTab.triggerResize()">
                    <mat-tab label="Hotel & region description" position="-1">
                        <div class="hotel-description-container" fxLayout="column">
                            <div fxLayout fxLayoutAlign="space-between start">
                                <h3>Hotel description</h3>
                                <button *ngIf="authorizedToEdit" (click)="updateHotelDescription()" class="btn update-button" [ngClass]="{'btn-primary': !editHotelDescription, 'btn-success': editHotelDescription}"
                                    type="button">
                                        <i *ngIf="!editHotelDescription" class="fa fa-wrench fa-lg" aria-hidden="true"></i>
                                        <i *ngIf="editHotelDescription" class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>
                                    </button>
                            </div>
                            <div *ngIf="!editHotelDescription">{{holiday.hotelDescription}}</div>
                            <textarea #editHotelDescriptionTextarea *ngIf="editHotelDescription" type="text" class="form-control" id="comments" placeholder="Add hotel description"
                                [(ngModel)]="holiday.hotelDescription" name="hotelDescription" (focusout)="focus(editHotelDescriptionTextarea.value)"></textarea>
                            <iframe width="400" height="300"
                                src="https://www.youtube.com/embed/ef9Upudr8Dk" allowfullscreen>
                            </iframe>
                        </div>
                        <div class="region-description-container" fxLayout="column" fxLayout="column">
                            <div fxLayout fxLayoutAlign="space-between start">
                                <h3>Region description</h3>
                                <button *ngIf="authorizedToEdit" (click)="updateRegionDescription()" class="btn update-button" [ngClass]="{'btn-primary': !editRegionDescription, 'btn-success': editRegionDescription}"
                                    type="button">
                                        <i *ngIf="!editRegionDescription" class="fa fa-wrench fa-lg" aria-hidden="true"></i>
                                        <i *ngIf="editRegionDescription" class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>
                                    </button>
                            </div>
                            <div *ngIf="!editRegionDescription">{{holiday.regionDescription}}</div>
                            <textarea *ngIf="editRegionDescription" type="text" class="form-control" id="comments" placeholder="Add region description"
                                [(ngModel)]="holiday.regionDescription" name="regionDescription"></textarea>
                            <iframe width="400" height="300"
                                src="https://www.youtube.com/embed/DL3PiqdyYJ8" allowfullscreen>
                            </iframe>
                        </div>
                    </mat-tab>
                    <mat-tab label="Hotel facilities & rooms">
                        <div class="facilities-container">
                            <div class="facilities-title-container" fxLayout fxLayoutAlign="space-between start">
                                <h3>Hotel facilities</h3>
                                <button *ngIf="authorizedToEdit" (click)="updateHotelFacilities()" class="btn update-button" [ngClass]="{'btn-primary': !editHotelFacilities, 'btn-success': editHotelFacilities}"
                                    type="button">
                                    <i *ngIf="!editHotelFacilities" class="fa fa-wrench fa-lg" aria-hidden="true"></i>
                                    <i *ngIf="editHotelFacilities" class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div fxLayout>
                                <div fxLayout fxFlex fxLayoutWrap fxLayoutGap="10px">
                                    <div class="facilityAndRoomTypeContainer" fxFlex="32%" *ngFor="let facility of holiday.facilities">
                                        <div class="facilityAndRoomTypeHeader">
                                            <h4>{{facility.facilityCategory}}</h4>
                                        </div>
                                        <img class="facilityAndRoomTypeImage" [src]="facility.image" fxFlex>
                                        <ul>
                                            <div *ngIf="!editHotelFacilities">
                                                <li class="facilityAndRoomTypeListItem" *ngFor="let facilityItem of facility.facilitiesList">
                                                    <span class="glyphicon glyphicon-menu-right"></span> {{facilityItem}}</li>
                                            </div>
                                            <textarea #facilitiesList *ngIf="editHotelFacilities" type="text" class="form-control" id="comments" placeholder="Add hotel facilities"
                                                [ngModel]="facility.facilitiesList" name="regionDescription" (focusout)="updateHotelFacilitiesList(facilitiesList.value, facility)"></textarea>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rooms-container">
                            <div class="rooms-title-container" fxLayout fxLayoutAlign="space-between start">
                                <h3>Room types</h3>
                                <button *ngIf="authorizedToEdit" (click)="updateRoomFacilities()" class="btn update-button" [ngClass]="{'btn-primary': !editRoomFacilities, 'btn-success': editRoomFacilities}"
                                    type="button">
                                        <i *ngIf="!editRoomFacilities" class="fa fa-wrench fa-lg" aria-hidden="true"></i>
                                        <i *ngIf="editRoomFacilities" class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>
                                    </button>
                            </div>
                            <div fxLayout>
                                <div fxLayout fxFlex fxLayoutWrap fxLayoutGap="10px">
                                    <div class="facilityAndRoomTypeContainer" fxFlex="32%" *ngFor="let room of holiday.rooms">
                                        <div class="facilityAndRoomTypeHeader">
                                            <h4>{{room.roomType}}</h4>
                                        </div>
                                        <img class="facilityAndRoomTypeImage" [src]="room.image" fxFlex>
                                        <h5><i>Maximal person capacity: {{room.personCapacity}}</i></h5>
                                        <mat-divider class="roomTypeDivider"></mat-divider>
                                        <h5><b>Room facilities:</b></h5>
                                        <ul>
                                            <div *ngIf="!editRoomFacilities">
                                                <li class="facilityAndRoomTypeListItems" *ngFor="let roomFacility of room.roomFacilities ">
                                                    <span class="glyphicon glyphicon-menu-right"></span> {{roomFacility}}</li>
                                            </div>
                                            <textarea #facilitiesList *ngIf="editRoomFacilities" type="text" class="form-control" id="comments" placeholder="Add hotel facilities"
                                                [ngModel]="room.roomFacilities" name="regionDescription" (focusout)="updateRoomFacilitiesList(facilitiesList.value, room)"></textarea>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Offer information">
                        <div class="offer-list-container">
                            <div fxLayout fxLayoutAlign="space-between center">
                                <h4><span class="glyphicon glyphicon-menu-right"></span> Departure from {{holiday.departureFrom}}
                                    airport / {{holiday.nrNights}} nights trip available for the following
                                    periods...
                                </h4>
                                <button *ngIf="authorizedToEdit" (click)="updateOfferAndPeriodsInformation()" class="btn update-button" [ngClass]="{'btn-primary': !editOfferAndPeriodsInformation, 'btn-success': editOfferAndPeriodsInformation}"
                                    type="button">
                                    <i *ngIf="!editOfferAndPeriodsInformation" class="fa fa-wrench fa-lg" aria-hidden="true"></i>
                                    <i *ngIf="editOfferAndPeriodsInformation" class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>
                                </button>
                            </div>
                            <mat-list fxLayout="column" fxFlex>
                                <mat-list-item class="tableHeader">
                                    <div fxLayout fxFlex>
                                        <div fxLayout="column" fxFlex="13%">
                                            <h4 md-line>From</h4>
                                        </div>
                                        <div fxLayout="column" fxFlex="13%">
                                            <h4 md-line>Until</h4>
                                        </div>
                                        <div fxLayout="column" fxFlex="18%">
                                            <h4 md-line>Price</h4>
                                        </div>
                                        <div fxLayout="column" fxFlex="17%">
                                            <h4 md-line>Room type</h4>
                                        </div>
                                        <div fxLayout="column" fxFlex="17%">
                                            <h4 md-line>View from room</h4>
                                        </div>
                                    </div>
                                </mat-list-item>
                                <mat-list-item class="tableItems" *ngFor="let offer of holiday.periods">
                                    <div fxLayout fxFlex>
                                        <div fxLayout="column" fxFlex="13%">
                                            <h5 md-line class="tableItem">{{offer.from | date}}</h5>
                                        </div>
                                        <div fxLayout="column" fxFlex="13%">
                                            <h5 md-line class="tableItem">{{offer.until | date}}</h5>
                                        </div>
                                        <div fxLayout="column" fxFlex="18%">
                                            <h5 md-line class="tableItem">{{offer.price}}<span class="glyphicon glyphicon-euro"></span>/trip/adult</h5>
                                        </div>
                                        <div fxLayout="column" fxFlex="17%">
                                            <h5 md-line class="tableItem">{{offer.roomType}}</h5>
                                        </div>
                                        <div fxLayout="column" fxFlex="17%">
                                            <h5 md-line class="tableItem">{{offer.viewType}}</h5>
                                        </div>
                                        <div fxLayout fxLayoutAlign="space-around center" fxFlex>
                                            <button *ngIf="editOfferAndPeriodsInformation" (click)="editOffer(offer)" class="btn btn-primary" type="submit">
                                                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                                            <button *ngIf="editOfferAndPeriodsInformation" (click)="disableOrEnableOffer(offer)" class="btn" [ngClass]="{'btn-danger': !offer.available, 'btn-info': offer.available}"
                                                type="submit">
                                                    <i *ngIf="!offer.available" class="fa fa-ban fa-lg" aria-hidden="true"></i>
                                                    <i *ngIf="offer.available" class="fa fa-external-link fa-lg" aria-hidden="true"></i>
                                                </button>
                                            <button (click)="applyForOffer(offer)" class="btn btn-success" [ngClass]="{'apply-offer-button': !editOfferAndPeriodsInformation}"
                                                type="submit" [disabled]="editOfferAndPeriodsInformation || offer.available">
                                                    <i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i> {{applyButtonText}}</button>
                                        </div>
                                    </div>
                                </mat-list-item>
                            </mat-list>

                            <mat-divider></mat-divider>

                            <div class="included-and-not-container" fxLayout fxFlex>
                                <div fxLayout="column" fxFlex="50%">
                                    <h4>Included in price</h4>
                                    <ul>
                                        <div *ngIf="!editOfferAndPeriodsInformation">
                                            <li *ngFor="let info of holiday.included">
                                                <span class="glyphicon glyphicon-ok"></span> {{info}}</li>
                                        </div>
                                        <textarea #list *ngIf="editOfferAndPeriodsInformation" type="text" class="form-control" id="comments" placeholder="Add hotel facilities"
                                            [ngModel]="holiday.included" name="regionDescription" (focusout)="updateOfferIncludedInformation(list.value)"></textarea>
                                    </ul>
                                </div>
                                <div fxLayout="column" fxFlex="50%">
                                    <h4>Not included in price</h4>
                                    <ul>
                                        <div *ngIf="!editOfferAndPeriodsInformation">
                                            <li *ngFor="let info of holiday.notIncluded">
                                                <span class="glyphicon glyphicon-remove"></span> {{info}}</li>
                                        </div>
                                        <textarea #list *ngIf="editOfferAndPeriodsInformation" type="text" class="form-control" id="comments" placeholder="Add hotel facilities"
                                            [ngModel]="holiday.notIncluded" name="regionDescription" (focusout)="updateOfferNotIncludedInformation(list.value)"></textarea>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Location & points of interest">
                        <div class="location-container">
                            <h3>Exact location of the hotel</h3>
                            <agm-map #mapInTab [hidden]="changeCoordinates()" [latitude]="holiday.latitude" [longitude]="holiday.longitude">
                                <agm-marker [latitude]="holiday.latitude" [longitude]="holiday.longitude"></agm-marker>
                            </agm-map>
                        </div>

                        <div class="location-container">
                            <div fxLayout fxLayoutAlign="space-between start">
                                <h3>Points of interest around the hotel</h3>
                                <button *ngIf="authorizedToEdit" (click)="updatePointsOfInterest()" class="btn update-button" [ngClass]="{'btn-primary': !editPointsOfInterest, 'btn-success': editPointsOfInterest}"
                                    type="button">
                                        <i *ngIf="!editPointsOfInterest" class="fa fa-wrench fa-lg" aria-hidden="true"></i>
                                        <i *ngIf="editPointsOfInterest" class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>
                                    </button>
                            </div>
                            <ul>
                                <li *ngFor="let poi of holiday.pointsOfInterest" (click)="editPoi(poi)">
                                    <div *ngIf="!poi.isEditable">
                                        <span class="glyphicon glyphicon-menu-right"></span> {{poi.pointOfInterest}} ({{poi.distance}}
                                        km)
                                    </div>
                                    <div fxLayout *ngIf="poi.isEditable">
                                        <input class="form-control" type="text" name="poi" placeholder="Point of interest" [(ngModel)]="poi.pointOfInterest" fxFlex="30"
                                            required>
                                        <input class="form-control distance-input" type="number" name="distance" placeholder="Distance" [(ngModel)]="poi.distance"
                                            fxFlex="12" required>
                                        <i class="fa fa-minus-square fa-2x" aria-hidden="true" (click)="removeFromPOIList(poi)"></i>
                                    </div>
                                </li>
                                <div fxLayout *ngIf="editPointsOfInterest">
                                    <input #pointOfInterest class="form-control" type="text" name="poi" placeholder="Point of interest" fxFlex="30" required>
                                    <input #distance class="form-control distance-input" type="number" name="distance" placeholder="Distance" fxFlex="12" required>
                                    <i class="fa fa-plus-square fa-2x" aria-hidden="true" (click)="addToPOIList(pointOfInterest, distance)"></i>
                                </div>
                            </ul>
                        </div>
                    </mat-tab>
                    <mat-tab label="Reviews">
                        <div class="accordion-container">
                            <accordion>
                                <accordion-group class="accordion" #group *ngFor="let review of holiday.reviews">
                                    <div class="reviewTitle" accordion-heading>
                                        {{review.title}}
                                        <div class="rating mdeium star-icon direction-ltr color-ok" [ngClass]="{'value-1': review.rating[0], 'value-2': review.rating[1], 'value-3': review.rating[2], 'value-4': review.rating[3], 'value-5': review.rating[4]}">
                                            <div class="star-container">
                                                <div class="star">
                                                    <i class="star-empty"></i>
                                                    <i class="star-half"></i>
                                                    <i class="star-filled"></i>
                                                </div>
                                                <div class="star">
                                                    <i class="star-empty"></i>
                                                    <i class="star-half"></i>
                                                    <i class="star-filled"></i>
                                                </div>
                                                <div class="star">
                                                    <i class="star-empty"></i>
                                                    <i class="star-half"></i>
                                                    <i class="star-filled"></i>
                                                </div>
                                                <div class="star">
                                                    <i class="star-empty"></i>
                                                    <i class="star-half"></i>
                                                    <i class="star-filled"></i>
                                                </div>
                                                <div class="star">
                                                    <i class="star-empty"></i>
                                                    <i class="star-half"></i>
                                                    <i class="star-filled"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
                                    </div>
                                    <div class="reviewText">
                                        {{review.text}}
                                    </div>
                                    <div class="reviewDetails">
                                        <b>...review by: </b><i>{{review.nameOfReviewer}}</i>
                                        <div class="reviewDates">
                                            <i><b>Date of review: </b>{{review.dateOfReview | date}}</i>
                                            <i><b>Date of travel: </b>{{review.dateOfTravel | date}}</i>
                                        </div>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </mat-tab>
                </mat-tab-group>

                <button *ngIf="authorizedToEdit" (click)="updateHoliday()" class="btn btn-success update-holiday-button" type="button">Update holiday</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>