@import '../../styles/variables.scss';

:host {
    display: block;
}

textarea {
    resize: none;
    height: 250px;
}

li {
    list-style-type: none;
}

iframe {
    margin: 20px auto 0;
}

.nav-link {
    border: 1px solid orange;
}

.holidayDetailViewContainer {
    margin: 0 auto;
    width: 70%;
}

.stars {
  vertical-align: top;
}

.singleImageContainer, .multipleImagesContainer {
    margin-top: 10px;
}

.crop {
    width: 1000px;
    height: 250px;
    overflow: hidden;

    img {
        /*width: 400px;
        height: 300px;*/
        margin: -200px 0 -100px -50px;
    }
}


.multipleImagesContainer {
    background-color: black;
}

.multipleImagesContainerDivider {
    border-bottom: 1px orange;
    border-bottom-style: ridge;
    width: 75%;
    margin-left: 12.5%;
}

.smallImages {
    width: 92px;
    height: 60px;
    filter: brightness(75%);
}

.smallImages:hover {
    cursor: pointer;
    filter: brightness(100%);
}

.firstRowOfImages {
    margin-top: 14px;
}

.firstColumnOfImages {
    margin-left: 14px;
    margin-right: 4px;
}

.middleColumnOfImages {
    margin-left: 4px;
    margin-right: 4px;
}

.thirdColumnOfImages {
    margin-left: 4px;
}

.footerMainImagesContainer {
    height: 30px;
    background-color: black;
    margin-bottom: 25px;
}

.glyphicon-fullscreen, .glyphicon-circle-arrow-left, .glyphicon-circle-arrow-right, .fa-play-circle, .fa-pause-circle {
    color: lightgray;
    cursor: pointer;
}

.glyphicon-fullscreen {
    font-size: 20px;
    margin: 4px 0 5px 10px;
    width: 25px;
}

.glyphicon-circle-arrow-left, .glyphicon-circle-arrow-right {
    font-size: 16px;
    margin: 5px 5px 5px 0;
    padding: 2px 0 0 0;
}

.fa-play-circle, .fa-pause-circle {
    font-size: 23px;
    margin: 1px 6px;
    padding: 2px 0 0 0;
}

.facilityAndRoomTypeContainer {
    margin-bottom: 10px;
    background-color: #EBEBEB;
    border: 1px solid lightgray;
    position: relative;
    display: block !important;

    ul {
        margin: 10px 0;
        padding-left: 30px;
    }

    h5 {
        padding-left: 10px;
    }

    .glyphicon-menu-right {
        vertical-align: middle;
    }
}

.facilityAndRoomTypeHeader {
    padding: 8px 6px;
    position: absolute;
    top: 10px;
    background-color: rgba(235, 183, 87, 0.8);

    h4 {
        margin: 0;
    }
}

.facilityAndRoomTypeImage {
    max-width: 100%;
    height: 200px;
}

.facilityAndRoomTypeListItem {
    padding-top: 4px;
}

.roomTypeDivider {
    width: 90%; 
    margin-top: 10px;
    margin-left: 5%;
}

.mat-list {
    padding-bottom: 20px;
}

.mat-subheader {
    color: black;
}

.glyphicon-menu-right {
    opacity: 0.6;
}

.tableHeader {
    text-align: center;
    background-color: $header-background-color;
    font-size: 18px;
}

.tableItems {
    cursor: default;
    background-color: $items-background-color;
    border-top: $items-border-color;

    &:hover {
        background-color: $items-background-color-on-hover;
    }
}

.tableItem {
    text-align: center;
    font-size: 14px;
}

.apply-offer-button {
    width: 85px !important;
    align-self: center;
    font-size: 16px;
}

.glyphicon-ok {
    color: #5FCC37;
}

.glyphicon-remove {
    color: #E35946;
}

agm-map {
  height: 300px;
}

.accordion {
    padding: 10px 0;
}

.panel-group {
    margin: 20px 0;
}

.reviewTitle {
    font-size: 20px;
}

.rating {
    display: inline;
}

.star-container {
    display: inline-flex;
}

.reviewText {
    padding-bottom: 20px;
}

.reviewDetails {
    display: inline;
    font-size: 20px;

    b {
        font-size: 16px;
        color: gray;
    }
}

.reviewDates {
    display: inline;
    font-size: 16px;

    i {
        float: right;
        padding: 4px 20px 0 0;

        b {
            color: gray;
        }
    }
}

.offer-list-container {
    display: block !important;
}

.hotel-description-container, .region-description-container, .facilities-container, .rooms-container, .offer-list-container, .accordion-container, .location-container {
    border: 1px solid $container-border-color;
    box-shadow: $container-border-shadow;
    margin: 30px 0 15px 0;

    h3 {
        margin-top: 0;
        font-size: 22px;
        padding-left: 15px;
    }

    h4 {
        margin-top: 0;
        padding-left: 15px;
    }
}

.hotel-description-container, .region-description-container, .offer-list-container, .location-container {
    padding: 20px;
}

.facilities-container, .rooms-container {
    padding: 20px 10px 10px 20px;

}

.accordion-container {
    padding: 0 20px;
}

.hotel-description-container, .region-description-container {
    text-align: justify;
}

.offer-list-container, .included-and-not-container {
    h4 {
        font-size: 16px;
        margin: 0;
        line-height: normal;
    }

    h5 {
        line-height: normal;
    }

    ul {
        margin: 0;
        padding: 10px 0 0 0;
        align-self: center;
    }
}

.included-and-not-container {
    h4 {
        margin-top: 20px;
        text-align: center;
    }
}

.location-container {
    ul {
        margin: 0;
    }
}

.btn {
    width: 50px;
}

.distance-input {
    margin: 0 10px;
}

.fa-2x {
    padding-top: 2px;
    cursor: pointer;
}

.fa-plus-square {
    color: green;
}

.fa-minus-square {
    color: red;
}

.update-holiday-button {
    margin: 0 auto;
    width: 150px;
}

.modal-header {
    position: relative;
    border: 0;
    padding: 0;

    button {
        position: absolute;
        top: 5px;
        right: 3px;
        color: #7D7B79;
        z-index: 1;
        font-size: 44px;
        background-color: #E8B56D;
        padding: 0 10px;
        border-radius: 50%;
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }
    }
}

.address-container {
    flex: none !important;

    button:focus {
        outline: none;
    }
}

.promotion-image-container {
  img {
    width: 120px;
  }

  .early-booking-img {
    transform: rotate(-10deg);
  }
}

.price {
    margin: 0;
    font-size: 12px;

    &.updated {
        font-size: 15px;
    }
}

.cross-over {
    border: 1px solid orangered;
    position: absolute;
    width: 22%;
    border-bottom: 0;
    top: 7px;
    left: 20px;
    transform: rotate(-8deg);
}