@import '../../../styles/variables.scss';

.offers-management-container {
	margin: 0 auto;
  width: 70%;
}

.table-header {
	background-color: $header-background-color;
}

.table-items {
	cursor: default;
	background-color: $items-background-color;
	border-top: $items-border-color;

	&:hover {
    background-color: $items-background-color-on-hover;
	}
}

.assign-button, .finished-button {
	width: 50px;
	margin: 0 10px;
}

.offer-status {
	padding: 5px;
	color: white;
	border-radius: 12px;
	font-size: 14px;
	min-width: 50px;
	text-align: center;
}

.status-open, .status-wip, .status-done {
	font-weight: bold;
}

.status-open {
	background-color: red;
}

.status-wip {
	background-color: darkorange;
}

.status-done {
	background-color: mediumseagreen;
}