<div class="personal-information-container">
	<label class="container-title">Personal information</label>
	<div fxLayout fxFlex>
		<div class="first-container-column" fxLayout="column" fxFlex="50%">
			<label for="name"><i class="container-element">Name: </i>
				<span class="normal-color">{{ personalizedOffer.name }}</span></label>
			<label for="countryAddress"><i class="container-element">Departure country: </i>
				<span class="normal-color">{{ personalizedOffer.departureCountry }}</span></label>
			<label for="cityAddress"><i class="container-element">Departure city: </i>
				<span class="normal-color">{{ personalizedOffer.departureCity }}</span></label>
		</div>

		<div class="second-container-column" fxLayout="column" fxFlex="50%">
			<label for="contact"><i class="container-element">Contact information</i></label>
			<label class="normal-color not-label">Telephone number: {{ personalizedOffer.telephone }}</label>
			<label class="normal-color not-label">E-mail address: {{ personalizedOffer.email }}</label>
		</div>
	</div>
</div>

<div class="main-holiday-information-container">
	<label class="container-title">Main holiday information</label>
	<div fxLayout fxFlex>
		<div class="first-container-column" fxLayout="column" fxFlex="50%">
			<label for="destination"><i class="container-element">Destination of your choosing: </i>
				<span class="normal-color">{{ personalizedOffer.travelDestination }}</span></label>
			<label for="numberOfNights"><i class="container-element">Number of nights: </i>
				<span class="normal-color">{{ personalizedOffer.nrNights }}</span></label>
			<label for="numberOfGuests"><i class="container-element">Total number of guests: </i>
				<span class="normal-color">{{ personalizedOffer.nrGuests }}</span></label>
			<label for="numberOfChildren"><i class="container-element">Number of children: </i>
				<span class="normal-color">{{ personalizedOffer.nrChildren }}</span></label>
			<label for="pets"><i class="container-element">Pets you wish to bring along: </i>
				<span class="normal-color">{{ personalizedOffer.pets }}</span></label>
		</div>

		<div class="second-container-column" fxLayout="column" fxFlex="50%">
			<label for="daterange"><i class="container-element with-subelements">The daterange you prefer for your holiday </i></label>
			<label class="normal-color not-label">From: {{ personalizedOffer.firstDayOfHoliday | date }}</label>
			<label class="normal-color not-label last-subelement">Until: {{ personalizedOffer.lastDayOfHoliday | date }}</label>
			<label for="travelBy"><i class="container-element">Means of transport chosen: </i>
				<span class="normal-color">{{ personalizedOffer.travelBy }}</span></label>
			<label for="maxPrice"><i class="container-element">This is how much you want to spend (EUR): </i>
				<span class="normal-color">{{ personalizedOffer.maxPrice }}</span></label>
		</div>
	</div>
</div>

<div class="additional-holiday-information-container">
	<label class="container-title">Additional holiday information</label>
	<div fxLayout fxFlex>
		<div class="first-container-column" fxLayout="column" fxFlex="50%">
			<label for="typeOfAccomodation"><i class="container-element">The type of accomodation you'd prefer: </i>
				<span class="normal-color">{{ personalizedOffer.accommodationType }}</span></label>
		</div>

		<div class="second-container-column" fxLayout="column" fxFlex="50%">
			<label for="food"><i class="container-element">Food to be included in the offer: </i>
				<span class="normal-color">{{ personalizedOffer.food }}</span></label>
		</div>
	</div>

	<label for="comments"><i class="container-element">Additional comments / preferences: </i>
		<span class="normal-color">{{ personalizedOffer.comments }}</span></label>
</div>