@import '../../styles/variables.scss';

h2 {
  cursor: pointer;
}

h3 {
    font-weight: bold;
    font-size: 26px;
}

h4 {
  font-size: 17px;
}

p {
  margin-top: 10px;
}

.priceInfo {
    background: rgba(255, 255, 255, .5);
    position: absolute;
    margin: 0;
    padding: 10px;
}

.verticalDivider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: grey;
  height: 100%;
}

.mainPreviewImage {
  width: 98%;
  cursor: pointer;
}

.promotion-image-container {
  cursor: pointer;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
  }

  .early-booking-img {
    top: 15px;
    transform: rotate(-10deg);
  }

  .last-minute-img {
    margin-left: -5.5px;
    margin-top: -4px;
  }
}

.stars {
  vertical-align: top;
}

.infoColumn {
  text-align: center;
}

.infoColumn>span>h4 {
  margin-bottom: 0;
}

.infoColumn>img {
  width: 50px;
  align-self: center;
  margin-top: -10px;
}

.details-container {
  padding: 10px;
}

.details-section {
  background-color: #F2D7A5;
  text-align: center;
  position: relative;

  .cross-over-value {
    margin: 0
  }

  h4, h5 {
    font-weight: bold;
  }

  h3, h5 {
    margin-top: 0;
  }
}

.detailsBtn {
  width: 120px;
  height: 50px;
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.comming-soon-image-container {
  img {
    margin: 0 auto;
    max-width: 600px;
  }

  .summer-comming-soon-image-container {
    img {
      max-width: 900px;
    }
  }
}

.cross-over {
  border: 1px solid orangered;
  width: 55%;
  position: absolute;
  top: 47px;
  left: 50px;
  transform: rotate(-4deg);
}