@import '../../styles/variables.scss';

h3 {
    font-weight: bold;
    font-size: 26px;
}

.priceInfo {
    background: rgba(255, 255, 255, .5);
    position: absolute;
    margin: 0;
    padding: 10px;
}

.promotion-image-container {
  cursor: pointer;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
  }

  .early-booking-img {
    top: 15px;
    transform: rotate(-10deg);
  }

  .last-minute-img {
    margin-left: -5.5px;
    margin-top: -4px;
  }
}

.comming-soon-image-container {
  img {
    margin: 0 auto;
    max-width: 600px;
  }

  .summer-comming-soon-image-container {
    img {
      max-width: 900px;
    }
  }
}

.cross-over {
  border: 1px solid orangered;
  width: 55%;
  position: absolute;
  top: 47px;
  left: 50px;
  transform: rotate(-4deg);
}