<div class="toolbar" fxLayout fxLayoutAlign="space-between" fxFlex>
    <a class="logo-container" href="/" fxFlex="15">
        <img class="logo" id="logo" src="../../../assets/images/logo-small.png" alt="view1" />
    </a>

    <search-input
        (onSearch)="searchForHoliday($event)">
    </search-input>

    <ul class="toolbar-buttons">
        <sd-login *ngIf="!userLogedIn" (onLoginSuccessful)="loggingIn($event)"></sd-login>
        <logout-button *ngIf="userLogedIn" (onLogout)="loggingOut()"></logout-button>
        <button *ngIf="!userLogedIn" class="btn btn-transparent regular-sign-up" (click)="openSignUpModal(signUpModalAction)">
            <span class="glyphicon glyphicon-user"></span> Sign up
        </button>
        <my-profile-dropdown *ngIf="userLogedIn"></my-profile-dropdown>
    </ul>
</div>