<div class="sharing-icons-container" fxLayout fxLayoutAlign="end center">
	<img class="sharing-icon first" src="../../../assets/images/icons/facebook_circle.png" width="25px">
	<img class="sharing-icon" src="../../../assets/images/icons/instagram_circle.png" width="25px">
	<img class="sharing-icon" src="../../../assets/images/icons/twitter_bird_circle.png" width="25px">
	<img class="sharing-icon" src="../../../assets/images/icons/pinterest_circle.png" width="25px">
	<img class="sharing-icon" src="../../../assets/images/icons/skype_circle.png" width="25px">
	<img class="sharing-icon" src="../../../assets/images/icons/google-plus_circle.png" width="25px">
	<img class="sharing-icon last" src="../../../assets/images/icons/yahoo_circle.ico" width="25px">
</div>