.sharing-icons-container {
	padding: 10px 0;
}

.sharing-icon {
	margin: 0 4px;

	&:hover {
		cursor: pointer;
	}

	&.last {
		margin-right: 0;
	}

	&.first {
		margin-left: 0;
	}
}

.used-for-list {
  padding-top: 0;
}